{% extends '::base.html.twig' %}

{% block body %}
	<form action="#" {{ form_enctype(form) }} method="POST">
		{{ form_widget(form) }}
		<input type="submit" value="Enregistrer" />
		{{ form_rest(form) }}
	</form>
{% endblock body %}