*{
	padding:0;
	margin:0;
}

img{
	border:0;
}

body{
	font-family:Arial;
	background:#243103;
	color:#fff;
}

ul{
	list-style-type:none;
}

a{ color :#fff; text-decoration:none; } a:hover{ text-decoration:underline;}

textarea{
	width:50%;
	height:240px;
}

div.clear{
	clear:both;
}

div#document{
	margin:0 auto;
	width:980px;
	height:100% !important;
}

div#header{
	width:100%;
	height:100%;
}

div#header div#banner {
	margin:0 auto;
	background: transparent url(/bundles/patrickelevage/images/banner.gif) no-repeat center top;
	width:801px;
	height:129px;
}

div#header div#logo {
	position:relative;
	top:70px;
	width:251px;
	height:51px;
}

/*BREADCRUMB*/
div#breadcrumb{
	width:801px;
	margin:15px auto 0px auto;
}

div#breadcrumb a {
	color:#fff;
	text-decoration:none;
}

div#breadcrumb a:hover {
	text-decoration:underline;
}

/* CONTAINER PRINCIPAL DYNAMIQUE */

div#container{
	width:801px;
	margin:15px auto;
	background:#fff;
	padding:15px 0px 15px 0px;
}

div#container div#calque_marron{
	width:780px;
	height:100%;
	margin:0 auto;
	background:#482722;
}

div#accueil{
	width:100%;
}

div#accueil div#accueil_gauche{
	width:375px;
	float:left;
}

div#accueil div#accueil_gauche strong{
	display:block;
}

div#accueil div#accueil_gauche strong,
div#accueil div#accueil_gauche p{
	margin:15px;
}

div #accueil div#accueil_droite{
	margin-left:8px;
	width:385px;
	float:left;
}

div#accueil div#accueil_droite img{
	margin-top:15px;
	width:383px;
	height:489px;
}

/*Liste des chiens*/

div#liste_des_chiens{
	width:750px;
}

div#liste_des_chiens div#bouet_ul{
	width:685px;
	margin:0 auto;
}

div#liste_des_chiens div#bouet_ul ul{
	width:340px;
	height:100%;
	float:left;
}

div#liste_des_chiens div#bouet_ul ul li{
	display:in-line;
}

div#liste_des_chiens div#bouet_ul ul li div.bouet{
	border:1px solid #000;
	background:#fff;
	color:#000;
	margin:10px 0px;
	height:160px;
	float:left;
}

div#liste_des_chiens div#bouet_ul ul li div.thumb{
	border:1px solid #fff;
	width:120px;
	height:140px;
	float:left;
}

div#liste_des_chiens div#bouet_ul ul li div.details{
	margin-left:3px;
	width:210px;
	height:140px;
	float:left;
}

div#liste_des_chiens div#bouet_ul ul li div.details div.btn_modif{
	position:relative;
	display:inline;
	background:#fff;
	color:#000;
	width:60px;
	height:20px;
}

div#accueil_gauche div.btn_modif {
	text-align:center;
	background:#fff;
	color:#000;
	width:220px;
	height:20px;
}

div#liste_des_chiens div#bouet_ul ul li div.details div.btn_modif a,
div#accueil_gauche div.btn_modif a{
	border:1px solid #000;
	color:#000;
	text-decoration:none;
}

div#liste_des_chiens div#bouet_ul ul li div.details div.btn_modif a:hover,
div#accueil_gauche div.btn_modif a:hover{
	text-decoration:underline;
}

div#liste_des_chiens div#bouet_ul ul li div.details div.btn_modif_concours{
	position:relative;
	display:inline;
	background:#fff;
	color:#000;
	width:120px;
	height:20px;
}

div#liste_des_chiens div#bouet_ul ul li div.details div.btn_modif_concours a {
	border:1px solid #000;
	color:#000;
	text-decoration:none;
}

div#liste_des_chiens div#bouet_ul ul li div.details div.btn_modif_concours a:hover {
	text-decoration:underline;
}

div#contact_infos{
	margin:0 auto;
	width:420px;
}

div#contact_infos p{
	margin-bottom:15px;
}

div#contact_infos div#bgfblike{
	background:#fff;
	margin:0 auto;
}

div#footer{
	background:#fff;
	width:801px;
	margin:0 auto;
}
