{% extends '::base.html.twig' %}

{% block body %}
<div id="contact_infos">
	<p>Votre contact : M. Patrick JUILLA</p>

	<p>Chemin du bas de la plaine<br />
		78500 SARTROUVILLE<br />
		Tél :  06 13 44 31 78<br />
		Mail : contact@elevage-des-vigilants.fr
	</p>

	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps/ms?msa=0&amp;msid=214558712767081316328.0004c32534791a6252be4&amp;ie=UTF8&amp;ll=48.924656,2.159264&amp;spn=0,0&amp;t=h&amp;output=embed"></iframe><br /><small>Afficher <a href="https://maps.google.fr/maps/ms?msa=0&amp;msid=214558712767081316328.0004c32534791a6252be4&amp;ie=UTF8&amp;ll=48.924656,2.159264&amp;spn=0,0&amp;t=h&amp;source=embed" style="color:#0000FF;text-align:left">Elevage des vigilants</a> sur une carte plus grande</small>
</div>
<div class="clear"></div>
{% endblock %}