{% extends '::base.html.twig' %}

{% block body %}
	<div id="accueil">
		<div id="accueil_gauche">
			<strong>Bienvenue à l'Elevage <br /> Les Vigilants SARTROUVILLE</strong>
				<p>{{ presentation | nl2br }}</p>
				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<div class="btn_modif"><a href="{{ path('elevage_modifier_presentation', {'id' : id }) }}">Modifier texte de présentation</a></div>
				{% endif %}
		</div>
	<div id="accueil_droite">
			<img src="/bundles/patrickelevage/images/bg_accueil.jpg" />
		</div>
	</div>
	<div class="clear"></div>
{% endblock body %}

