{% extends '::base.html.twig' %}

{% block body %}
	<div id="accueil">
		<div id="accueil_gauche">
			<strong>Bienvenue à l'Elevage <br /> Les Vigilants SARTROUVILLE</strong>
			<p>{{ presentation }}</p>
		</div>
		<div id="accueil_droite">
			<img src="/bundles/patrickelevage/images/bg_accueil.jpg" />
		</div>
	</div>
	<div class="clear"></div>
{% endblock body %}

